.about{
    position: relative;
    width: 100%;
    margin: 110px 0 0 0;
}
.about-tittle{
    display: flex;
    width: 100%;
    font-size: 50px;
    color: #fff;
    justify-content: center;
    font-family: 'Anton', sans-serif;
}

.about-content{
    margin: 8px 40px;

}
.about-content p{
    padding: 20px 0 0 0;
    text-align: justify;
    color: #fff;
}
.cards-container{
    position: relative;
    max-width: 100%;
    margin: 100px auto 80px 0;
    height: 100%;
    vertical-align: middle;
    }
  
  .polygon{
    position: absolute;
    width: 100%;
    height: 100%; 
    background: #27AAE1;
    z-index: 1;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg) ;
    }
    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 2;
    }
    .cards-li{
      display: flex;
      padding: 2rem;
    }
    @media (min-width: 36rem){
      .cards-li{
        width: 50%;
      }
    }
    @media (min-width: 55rem){
        .cards-li{
          width: 33.3333%;
        }
      }
    @media (min-width: 80rem){

      .cards-li{
        width: 25%;
      }
    }

    .card {
      border: #000 10px;
      border-radius: 5px;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.95);
      background:black;    color: white;
      cursor: pointer;
      
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: 2;
    }
    .card img{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  
    .card-body{
      padding: 2rem;
    }
    .card-title{
      margin: 0 0 10px 0;
    }
    .card-body ul{
      padding: 0 0 0 15px;
    }
  
    @media (pointer: fine) {
    .card:hover {
      transform: scale(1.05);
      transition: all ease-out 0.2s;
    }
    }
    @media (pointer: coarse) {
      .card:hover {
        transform: scale(1.05);
        transition:  0.3s all ease-out;
      }
      }