
 .teams{
    max-width: 1200px;
    margin: 0;
 }
 .hx-grid{
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
 }
 .hx-grid_cell{
    position: relative;
    width: 200px;
    height: 90px;
    justify-content: center;
    align-items: center;
 
 }
 .hx-grid_hidden{
    opacity: 0;
    position: relative;
    width: 200px;
    height: 180px;
    margin: 10px 60px;
 }
 .hx-grid_cell .hexagon{
    width: 100%;
    height: 200%;
    position: absolute;
    background-color: white;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
 }
 .hexagon-img{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    width: 200px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100) blur(2px);
    transform: scale(0.93);
 }
 .hexagon::after{
    content: '';
}
 .hexagon::after{
    background-color: #00aeef;
    opacity: 0.7;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}
 .hexagon:hover .hexagon-img{
    filter: grayscale(0);
 }
 .hexagon:hover::before{
    background: #00aeef;
    transform: scale(1.05);
}
 @media(min-width:1068px){
    .hx-grid_cell{
        margin: 3px 60px;
    }

    .hx-grid_cell:nth-child(5n + 4) 
        {
          margin-left: calc(50% - 275px);

        }
    .hx-grid_cell:nth-child(5n + 5) 
        {
          margin-right: calc(50% - 275px);
        }  
 }
 @media(min-width:730px) and (max-width:1068px){
    .hx-grid_cell{
        margin: 3px 60px;
    }
    .hx-grid_cell:nth-child(3n) 
        {
          margin-left: calc(50% - 120px);
          margin-right: calc(50% - 120px);
          
        }
 }
 @media(min-width:425px) and (max-width:729px){
    .hx-grid_cell{
        margin: 3px 60px;
    }

    .hx-grid_cell:nth-child(2n + 1) 
        {
            margin-right: calc(50% - 50px);
            margin-left: calc(50% - 212px);
             
        }
    .hx-grid_cell:nth-child(2n + 2) 
        {
            margin-left: calc(50% - 50px);
            margin-right: calc(50% - 212px);
        }
 }
 @media(max-width:424px){
    .hx-grid{
    margin: 10px auto;
    padding: 0;
    }
    .hx-grid_cell
        {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 90px;
             
        }
    .hx-grid_hidden{
        display: none;
    }
 }