*{
    box-sizing: border-box;
}
.kks-container{
    width: auto;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}
.container{
    background-color: brown;
    min-width: 300px;
    height: 300px;
    transform: skewX(-10deg);    
}

.container.pepe:hover{
    transform: skewX(-10deg) translateY(-30px);
    transition-property: transform;
    transition-duration: 0.5s;  
}
.container.pepe{
    transition-property: transform;
    transition-duration: 0.5s;  
}