*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}

body {
    background-color: #0c0c0c;
    padding: 0;
    margin-bottom: 7vh;
}
  .loader{
    position:fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0c;; 
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:6;
  }

  .disppear{
    animation: vanish 1.5s forwards;
    }
    @keyframes vanish {
      0%{
        opacity: 2;
      }
       50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
        visibility: hidden;
      }
    }

    .logo {
      height:200px;
      width: 200px;
    }

  .navbar{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    opacity: 100%;
    background-color: #0f0f0f;

  }
  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;

  }
  .navbar-links li{
    list-style: none;
    padding: 0 1.5vh;
    
  }
  .navbar-links li a{
    text-decoration: none;
    color: white;
    display: block;
  }
  .navbar-links li a:hover{
    color:#00aeef;
  }
  .toggle-button{
    position: absolute;
    top: 1vh;
    right: 1vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 4vh;
    height: 4vh;
  }

  .toggle-button .bar{
    height: 7px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
  }
  .navbar-bottom{
  display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: #0f0f0f;
    z-index: 5;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -5px 15px 0px rgba(0, 0, 0, 0.5);
  }
  .navbar-bottom_button{
    display: inline-flex;
    height: 6.5vh;
    flex-direction: column;
    align-items: center;
   }
  .navbar-bottom_button img{
   height: 4vh;
  }
  .navbar-bottom_button-text{
    font-size: x-small;
    font-weight: bold;
    color: #00aeef;
    height: 1vh;

   }

  @media (max-width: 700px){
    .toggle-button{
      display: flex;
    }
    .navbar-links{
      display: hidden;
      width: 100%;
      background-color: transparent;
      transition-property: background-color;
      transition-duration: 0.5s;
      
    }
    .navbar{
      flex-direction: column;
      align-items: flex-start;
      background-color: transparent;
      transition-property: background-color;
      transition-duration: 0.5s;
    }
    .navbar.active{
      background-color: #0c0c0c;
    }
    .navbar-links ul{
      flex-direction: column;
      width: 100%; 
    }
    .navbar-links li{
      text-align: center;
    }
    .navbar-links li a{
      visibility: hidden;
      padding: 1rem 1rem;
      transition-property: transform, color;
      transition-duration: 0.2s;

    }
    .navbar-links li a:hover, .navbar-links li a:active{
      color: #00aeef;
      transform: scale(1.05);
    }
    .navbar-links.active{
      display: flex;
      margin-top: 6vh;
      background-color: #0c0c0c;
    }
    .navbar-links li a.active{
      visibility: visible;
    }
  }
  .contenedor-social {
    background-color: #0f0f0f;
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button-contenedor {
    width: 225px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
  .social-media-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all ease-out 0.2s;
  }
  .social-media-button img{
    filter: saturate(0%) brightness(500%);
  }
  .social-media-button span {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    transition: 0.3s ease all;
  }
  
  .social-media-button svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;

  }
  .rights{
    margin-top:10px;
    color: #fff;
    font-size: 12px;
  }
  .web-design{
    color: #fff;
    font-size: 10px;
    margin: 12px 0 5px 0;
  }
  .web-design a{
    color: #fff;
    font-size: 10px;
    font-weight: bold;

  }
  @media (pointer: fine) {
  .social-media-button rect {
      width: 100%;
      height: 100%;
      stroke: #00aeef;
      stroke-width: 5px;
      stroke-dasharray: 160;
      stroke-dashoffset: 160;
      transition: 0.5s ease all;

    }
    .social-media-button:hover rect {
      stroke-dashoffset: 0;
    }
    .social-media-button:hover img{
      filter: saturate(100%) brightness(100%);
    }
  }
  
  @media (pointer: coarse) {
    .social-media-button rect {
      width: 100%;
      height: 100%;
      stroke: #00aeef;
      stroke-width: 5px;
      stroke-dasharray: 160;
      stroke-dashoffset: 160;
      transition: 0.3s ease all;
      
    }
    .social-media-button:active rect {
      stroke-dashoffset: 0; 
    }
    .social-media-button:active img{
      filter: saturate(100%) brightness(100%);
    }
  }
  